@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --primary: 215 68% 14%;
    --primary-foreground: 0 0% 100%;
    --secondary: 221 83% 53%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 32% 91%;
    --muted-foreground: 215 16% 47%;
    --accent: 45 65% 52%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 221 83% 53%;
    --radius: 0.75rem;
    --font-sans: "Inter";
  }

  .dark {
    --background: 221 39% 8%;
    --foreground: 210 40% 98%;
    --card: 221 39% 11%;
    --card-foreground: 210 40% 98%;
    --primary: 214 100% 92%;
    --primary-foreground: 221 39% 11%;
    --secondary: 221 83% 62%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 28% 17%;
    --muted-foreground: 217 18% 70%;
    --accent: 45 65% 56%;
    --accent-foreground: 221 39% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 221 83% 62%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
